<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>포트폴리오</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <div class= "wrap">
        <div class= "intro_bg">
            <div class="header">
            <img src = "../image/sungil2.png">
                <ul class="nav">
                    <li><a href="../HOME.html" target="_parent">HOME</a></li>
                    <li><a href="../symbol.html" target="_parent">학교 상징</a></li>
                    <li><a href="../software.html" target="_parent">소프트웨어개발과</a></li>
                </ul>
            </div>
            <div class= "intro_text">
                <h1>성일정보고등학교</h1>
                <h4 class= "contents1">성실한 사람, 실력 있는 사람, 생산적인 사람</h4>
            </div>
        </div>
        <!-- intro end-->
        <ul class= "sungil">
            <li>
                <div>
                    <div class= "contents1">개교</div>
                    <div class= "result">1974년 1월 5일</div>
                </div>
            </li>
            <li>
                <div>
                    <div class= "contents1">유형</div>
                    <div class= "result">특성화 고등학교</div>
                </div>
            </li>
            <li>
                <div>
                    <div class= "contents1">성별</div>
                    <div class= "result">남녀공학</div>
                </div>
            </li>
            <li>
                <div>
                    <div class= "contents1">운영 형태</div>
                    <div class= "result">사립(성일학원)</div>
                </div>
            </li>
        </ul>
        <!-- sungil end-->
        <div class= "main_text">
            <h1>ABOUT</h1>
            <div class="contents1">공식 소셜 채널</div>
            <ul class="icons">
                <li>
                    <div class= "icon_img">
                        <a href="https://www.facebook.com/SungilHSH" target="_blank">
                            <img src= "../image/facebook.png">
                        </a>
                    </div>
                    <div class= "contents1">학생회</div>
                    <div class= "contents2">성일정보고 다양한 소식들을 전해드립니다</div>
                </li>
                <li>
                    <div class= "icon_img">
                        <a href="https://www.instagram.com/sungil_i_highschool/" target="_blank">
                            <img src= "../image/instagram.png">
                        </a>
                    <div class= "contents1">홍보 영상</div>
                    <div class= "contents2">미래를 향한 가치있는 선택</div>
                    </div>
                </li>
                <li>
                    <div class= "icon_img">
                        <a href="https://pf.kakao.com/_kxixcxnC" target="_blank">
                            <img src= "../image/kakaotalk.png">
                        </a>
                    <div class= "contents1">커뮤니티</div>
                    <div class= "contents2">성일정보고 입학 상담</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>